.oneCheckbox{
    height: 1.5rem;
    width:  1.5rem;
    margin-left: 0.5rem;
   
}


#checkboxSection{
    display: flex;
    margin: auto;
   /* margin-top: 1rem;*/
    max-width: 37.5rem;
    justify-content: space-between;

}

.labelCheckbox{
    display: flex;
    align-items: center;
}

.itemName{
    margin: 0.25rem 0rem 0rem 0rem;
}