@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.favorite-post {
    max-height: 150px;
    max-width: 350px;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: roboto;
    box-shadow: 0px 1px 18px rgba(30, 30, 30, 0.12);
}

.favorite-post-img{
    max-width: 175px;
    min-width: 175px;
    max-height: 150px;
    min-height: 150px;
}

.favorite-title {
    font-family: roboto;
    margin-top: 5px;
    margin-left: 15px;
    font-weight: bold;
}


.like-favorite-post{
    color: #F53158;
    margin-left: 75%;
}





