*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-footer{
    width: 100%;
    max-width: 1380px;
    margin: auto;
    height: 90px;
}
.row{
    justify-content: space-between;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(245, 49, 88, 1);
  color: white;
  font-size: 10px;
  text-align: center;
}
ul{
    list-style-type: none;
}
/*.linked{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 0px;
}*/
.fa-linkedin{
    font-size: 1rem;
}
.developers a{
    color: white;
    text-decoration: none;
    
}
.developers{
    text-align: left;
    margin: 0;
    padding: 0px 0px 0px 10px;
}
.tecno{
    text-align: left;
    margin-top: 4px;
    transition: 3ms;
}
.linked{
    text-align: left;
    transition: 3ms;
    margin-top:-10px;
}
.students{
    margin-top: 4px;
    text-align: left;
    transition: 3ms;
}
.subtitle{
    font-weight: bold;
    font-size: 12px;
}

.text-footer{
    padding-top: 5px;
}
/*@media screen and(max-width:1000px){
  
}*/
@media screen and(max-width:767px){
   /* .students, .tecno, .linked{
        text-align: center;
    }*/
    .subtitle{
    font-weight: bold;
    font-size: 10px;
}
footer{
    font-size: 8px;
}
.students, .tecno, .linked, .text-footer{
    padding: 0.5px;
    margin: 0.1%;
    transition: 5ms;
}
.linked{
    display: flex;
}
}

