
.first-line{
    margin: auto;
}

.bodyHome{
    min-height: 90vh;
    margin: auto;
   
}

#cardsBody{
    margin-right: 0px;
    margin: auto;
}
.see-more{
    text-align: center;
}
.btn-see-more{
    height: 48px;
    width: 248px;
    border-radius: 6px;
    background: #F53158;
    border-radius: 6px;
    margin: auto;
    margin-top: 2%;
    color:#FFFFFF;
}