.col-4{
  height: 33.3%
}

.first-line{
    margin: auto;
}

.Home{
    margin-bottom: 20px;
}
.see-more{
    text-align: center;
}
.btn-see-more{
    height: 48px;
    width: 248px;
    border-radius: 6px;
    background: #F53158;
    border-radius: 6px;
    margin: auto;
    margin-top: 2%;
    color:#FFFFFF;
}
.categories{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1px 40px;

}
.btn-category{
    margin-left: 1rem;
    background: #F53158;
    border-radius: 6.25rem;
    width: 8.938rem;
    height: 1.875rem;
}