@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.logout{
    font-family: Roboto;
    font-size: 1.438rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1.688rem;
    letter-spacing: 0rem;
    text-align: center;
    color: #3D9382;
    text-decoration: underline;
    cursor: pointer;
}
.icon{
    margin-left: 0.313rem;
}
