.allBody{
    margin: auto;
    width: 700px;
}

.buttonAdd{
    display: flex;
    margin:auto;
    background-color: #fdfdfd;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    width: 224px;
    height: 48px
}