@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #ffffff;
}

.detail{
    max-width: 1200px;
    margin: auto;
    border-radius: 6px;
   /* box-shadow: 0px 1px 18px rgba(30, 30, 30, 0.12);*/
    margin-top: 20px;
    margin-bottom: 20px;
}

.inside-detail{
    margin-left: 18%;
    margin-right: 18%;
}

.detail-title{
    width: 75%;
    font-size: 30px;
    font-family: Roboto;
}

.like{
    width: 15%;
    color:#F53158;
    margin-left: 70px;
}

.header-image{
    margin: auto;
    text-align: center;
}

.photo-post{
    max-width: 1000px;
    margin:auto  !important ;
    max-height: 500px;
    object-fit: cover;
}

.recipe-title{
    font-weight: bolder;
    font-size: 23px;
    margin-left: 20px;
}

.ingredients-title{
    color:#F53158;
    font-size: 25px;
    margin-top: 15px;
    font-weight: bolder;
}

.elaboration-title{
    font-size: 25px;
    color: #3D9382;
        font-weight: bolder;

}

.comments-title{
    font-size: 25px;
    color: #F56C31;
        font-weight: bolder;

}

.fa-shopping-basket, .fa-comment, .fa-utensils{
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 25px;

}

.ingredients-title{
    margin-right: 20px;
}


.ingredient-list {
        margin-left: 20px;

}

.titles{
    margin-top: 4px;
}

.last-comment{
    font-size: 14px;
}

.elaboration-text{
    margin-left: 20px;
}

.add-comment-button{
    margin-left: 8px;
    margin-top: 7px;
    height: 34px;
}

.comment{
    margin-bottom: 20px;
    float: right;
}

.comments-number{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Roboto;
    color: gray;
    font-weight: bold;
}

.comment-detail{
    width:100%;
     margin-left: 20px;
     display:flex;
     flex-direction: row;

}

.lololo{
    margin-top: 5px;
}

.comment-input{
    width: 75%;
}