@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #ffffff;
}

.detail{
    max-width: 1200px;
    margin: auto;
    border-radius: 6px;
    box-shadow: 0px 1px 18px rgba(30, 30, 30, 0.12);
    margin-top: 20px;
    margin-bottom: 20px;
}

.inside-detail{
    margin-left: 18%;
    margin-right: 18%;
}

.detail-title{
    width: 75%;
}

.like{
    width: 15%;
    color:#F53158;
    margin-left: 70px;
}

.header-image{
    margin: auto;
    text-align: center;
}

.photo-post{
    max-width: 1000px;
    margin: ¡important auto;
    max-height: 500px;
    object-fit: cover;
}

.recipe-title{
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    margin: auto;
}

.ingredients-title{
    color:#F53158;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
}

.elaboration-title{
    font-size: 20px;
    color: #3D9382;
}

.comments-title{
    font-size: 20px;
    color: #F56C31;
}

.fa-shopping-basket, .fa-comment, .fa-utensils{
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.post_avatar{    margin-left: 20px;
}

.ingredient-list {
        margin-left: 20px;

}

.titles{
    margin-top: 4px;
}

.last-comment{
    font-size: 14px;
}

.elaboration-text{
    padding: 20px;
}

.add-comment{
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 40px;
    color: gray;
    background-color: #eef3f8;
    border: 0.2px solid lightgray;
    background: none;
    outline: none;
    width: 60%;
}

.comment{
    margin-bottom: 20px;
}