@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.post {
    max-height: 8.75rem;
    max-width: 22.5rem;
    min-width: 22.5rem;
    margin: auto;
    display: flex;
    //flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
    //font-family: roboto;
    box-shadow: 0px 1px 18px rgba(30, 30, 30, 0.12);
    overflow: hidden;
    position: relative;
}
.post-img{
    max-width: 8.75rem;
    min-width: 8.75rem;
    max-height: 8.75rem;
    min-height: 8.75rem;
}
.post-title {
    font-family: roboto;
    margin-top: 5px;
    margin-left: 15px;
    font-weight: bold;
    width: 13.74rem;
    padding: 1rem;
}

.fa-trash-alt{
    color: #3D9382;
    width: 14px;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
.fa-edit{
    color: #3D9382;
    width: 14px;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    right: 3rem;
}
.fa-edit:active {
  color: #F53158;
}
.fa-trash-alt:active {
  color: #F53158;
}
